h1 {
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
}

h2,h3,h4,h5,h6 {
  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif;
}

link1,link2,link3,link4,link5 {
  font-size: 20px;
  color: red;
}

body {
  background-color: rgb(34,83,163);
}
